<% content_for :meta_title, "Copson Studio Wiring" %>
<%# <% content_for :meta_description, "Copson Studio Wiring" %>
<%# <% content_for :meta_image, cl_image_path(@offer.photo.path) %>


<div class="background">
  <div class="navbar">
    <input type="checkbox" class="menu-btn" id="menu-btn" />
    <label for="menu-btn" class="menu-icon"><span class="nav-icon"></span></label>

    <ul class="tabs">
      <li><a href="#to-home">Home</a></li>
      <li><a href="#to-about">About</a></li>
      <li><a href="#to-gallery">Gallery</a></li>
      <li><a href="#to-references">References</a></li>
      <li><a href="#to-rates">Rates</a></li>
      <li><a href="#to-contact">Contact</a></li>
    </ul>
  </div>

  <div id="to-home"><a href="to-home"></a></div>
  <div class="home-banner">
    <%= image_tag "Logo-CSW.png", class: "logo-image" %>
    <h5>CSW offers music production studio wiring services to professional and private clients.</h5>
  </div>


  <div class="body">
    <div id="to-about"></div>
    <div class="about">
      <div class="title-separator">
        <div class="blue-line"></div>
        <h3>About</h3>
        <div class="blue-line"></div>
      </div>
      <div class="about-text">
        <%= image_tag "sean-about.png", class: "about-image" %>
        <p>London-based live sound and recording studio specialist with
          over five years professional experience in an educational
          facility working as a technician, audio engineer and IT deputy.
          I started <span class="highlight"> Copson Studio Wiring </span> (CSW) in 2020 as a side job
          when I saw an opportunity during the pandemic where many
          people wanted to continue producing music but they had to
          do so from home. They had the musical knowledge to
          produce but some were struggling with setting up a studio to
          work in.
        </p>
      </div>
      <div class="about-text">
        <p>I've been involved in the construction of close to forty studios since 2017. Everything from
          small home studios to full-size large format console rooms, home cinemas, and even Dolby
          Atmos, suites, I look forward to bringing whatever your dream studio vision is to life. I've
          teamed up with SXPro and Flavio Acoustics to bring you the best setup to suit your workflow.
        </p>
      </div>
    </div>

    <div id="to-gallery"></div>
    <div class="gallery">
      <div class="title-separator">
        <div class="blue-line"></div>
        <h3>Gallery</h3>
        <div class="blue-line"></div>
      </div>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= cl_image_tag("Screenshot_2022-02-16_at_13.08.56_tj1vox", class: "d-block w-100", alt: "First slide") %>
              <%# <%= image_tag "ICMP--2021---DSC_7640.jpeg", class: "d-block w-100", alt: "First slide" %> %>
              <div class="carousel-caption d-none d-md-block">
                <h5>ICMP</h5>
                <p>Cool studio!</p>
              </div>
            </div>
            <div class="carousel-item">
              <%= cl_image_tag("Screenshot_2022-02-16_at_13.20.33_zatzde", class: "d-block w-100", alt: "Second slide") %>
              <%# <%= image_tag "2021.09.15 Queen_s Park Studios 34.jpg", class: "d-block w-100", alt: "Second slide" %> %>
              <div class="carousel-caption d-none d-md-block">
                <h5>Queen's Park Studios</h5>
                <p>Cool studio 2!</p>
              </div>
            </div>
            <div class="carousel-item">
              <%= cl_image_tag("Screenshot_2022-02-16_at_13.20.05_g5rfxh", class: "d-block w-100", alt: "Third slide") %>
              <%# <%= image_tag "ICMP_Studio_edit_311016_NJR_15_fullres.jpeg", class: "d-block w-100", alt: "Third slide" %> %>
              <div class="carousel-caption d-none d-md-block">
                <h5>ICMP 2</h5>
                <p>Cool studio 3!</p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
    </div>
  </div>

    <%# <div class="separator-mid">
    </div> %>

  <div class="body">
    <div id="to-references"></div>
    <div class="references">
      <div class="title-separator">
        <div class="blue-line"></div>
        <h3>References</h3>
        <div class="blue-line"></div>
      </div>
      <div class="ref-carousel">

        <div class="ref-card">
          <div class="ref-text">
            <p>Sean came to patch in the tie lines
            for our new studio. He was very
            quick and efficient, and did a
            clean job fitting them in. Sean is
            personable and professional, and
            we'd be happy to recommend
            him!</p>
          </div>
          <h4>_____</h4>
          <div class="ref-name">
            <h4> H. Warwick - GM, Parallels</h4>
          </div>
        </div>

        <div class="ref-card">
          <div class="ref-text">
            <p>Our Go to Guy!
              Sean is our go to guy for SW6 studios in all of our studio locations from London to Ghana.
              His Audio solutions just work! and his knowledge, advice and hands on approach have been an integral part of building our Studio's all over the world.
            </p>
          </div>
          <h4>_____</h4>
          <div class="ref-name">
            <h4> Ray Michael - <%= link_to "SW6 Studios", "https://www.sw6studios.com/", :target => "_blank" %> founder and Director</h4>
          </div>
        </div>

        <div class="ref-card">
          <div class="ref-text">
            <p>Sean came to patch in the tie lines
            for our new studio. He was very
            quick and efficient, and did a
            clean job fitting them in. Sean is
            personable and professional, and
            we'd be happy to recommend
            him!</p>
          </div>
          <h4>_____</h4>
          <div class="ref-name">
            <h4> H. Warwick - GM, Parallels</h4>
          </div>
        </div>
      </div>
    </div>

    <div id="to-rates"></div>
    <div class="rates">
      <div class="title-separator">
        <div class="blue-line"></div>
        <h3>Rates</h3>
        <div class="blue-line"></div>
      </div>
      <div class="rates-body">
        <div class="rates-text">
          <div class="rates-text-inner">
            <div class="rates-text-columns">
              <p>Hourly rate</p>
              <p>Day rate (over 8hrs, max 10hrs)</p>
              <p>Travel (by car outside M25 zone)</p>
            </div>
            <div class="rates-text-columns">
              <p>£45/hr</p>
              <p>£400</p>
              <p>£0.45/mile</p>
            </div>
          </div>
          <h5>T&C's</h5>
        </div>
        <%= image_tag "rates-img.png", class: "rates-image" %>
      </div>
    </div>

    <div id="to-contact"></div>
    <div class="contact">
      <div class="title-separator">
        <div class="blue-line"></div>
        <h3>Contact</h3>
        <div class="blue-line"></div>
      </div>
      <div class="contact-content">
        <div data-tf-widget="lStACtA0" data-tf-iframe-props="title=Sean's website" data-tf-medium="snippet" style="width:100%;height:400px;"></div><script src="//embed.typeform.com/next/embed.js"></script>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="footer-content">
      <%= image_tag "Logo-CSW-grey.png", class: "footer-image" %>
      <p>© 2022 Copson Studio Wiring</p>
    </div>
  </div>
</div>
