<% content_for :meta_title, "Copson Studio Wiring" %>


<div class="background">
  <div class="navbar">
    <input type="checkbox" class="menu-btn" id="menu-btn" />
    <label for="menu-btn" class="menu-icon"><span class="nav-icon"></span></label>

    <ul class="tabs">
      <li><a href="#to-home">Home</a></li>
      <li><a href="#to-about">About</a></li>
      <li><a href="#to-gallery">Gallery</a></li>
      <li><a href="#to-references">References</a></li>
      <li><a href="#to-rates">Rates</a></li>
      <li><a href="#to-contact">Contact</a></li>
    </ul>
  </div>

  <div id="to-home"><a href="to-home"></a></div>
  <div class="home-banner">
    <%= image_tag "Logo-CSW.png", class: "logo-image" %>
    <%# <h5>CSW offers music production studio wiring services to professional and private clients.</h5> %>
    <h5>Consulting, wiring and setup services for commercial and private recording studios.</h5>
  </div>


  <div class="body">
    <div id="to-about"></div>
    <div class="about">
      <div class="title-separator">
        <div class="blue-line"></div>
        <h3>About</h3>
        <div class="blue-line"></div>
      </div>

      <div class="about-inner">
        <%= image_tag "sean-about.jpg", class: "about-image" %>
        <div class="about-text">
          <p>
            My name is Sean. I’m a London-based AV/IT specialist for over 5 years experience working as an IT supervisor, technician, audio engineer, maintenance engineer, teacher and builder at the ICMP College in London.
            <br>
            <br>
            Copson Studio Wiring (CSW) was founded in 2020 following an ever growing market need for home studios because of the covid-19 pandemic. Rapidly growing, I’ve since taken on ever growing projects.
            <br>
            <br>
            Friendly, hard working, punctual and organised, I’ve been involved in the construction of close to fifty studios: From small home setups to full-size large format console rooms, home cinemas, and even Dolby Atmos suites.

          </p>
        </div>
      </div>
      <div class="about-text top-zero">
        <p>
          <a href="#to-contact" class="about-btn">Get in touch</a> with me now!
          <br>
          <br>
          I look forward to working with you to bring your dream studio vision to life. I work closely with companies like SX Pro, VanDamme Cables, Studiospares and Flavio Acoustics to bring you the best setup to suit your workflow and budget.
        </p>
      </div>
    </div>

    <div id="to-gallery"></div>
    <div class="gallery">
      <div class="title-separator">
        <div class="blue-line"></div>
        <h3>Gallery</h3>
        <div class="blue-line"></div>
      </div>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= cl_image_tag("4F156446-1AC0-4830-A713-4AF4F5D5A269_rvdjgv", class: "d-block w-100", alt: "First slide") %>
              <div class="carousel-caption d-none d-md-block">
                <h5>The Qube</h5>
                <p>High end commercial recoding studio</p>
              </div>
            </div>
            <div class="carousel-item">
              <%= cl_image_tag("Screenshot_2022-03-13_at_14.26.01_erekm9", class: "d-block w-100", alt: "Second slide") %>
              <div class="carousel-caption d-none d-md-block">
                <h5>NE London</h5>
                <p>Production Studio with tie lines between two control rooms</p>
              </div>
            </div>
            <div class="carousel-item">
              <%= cl_image_tag("Screenshot_2022-03-13_at_14.25.43_sqvrh4", class: "d-block w-100", alt: "Third slide") %>
              <div class="carousel-caption d-none d-md-block">
                <h5>Fish Tank</h5>
                <p>Audio system with tie lines set up to back of room with ethernet.</p>
              </div>
            </div>

            <div class="carousel-item">
              <%= cl_image_tag("Screenshot_2022-03-13_at_14.26.12_bilyd4", class: "d-block w-100", alt: "Fourth slide") %>
              <div class="carousel-caption d-none d-md-block">
                <h5>Peterborough</h5>
                <p>High spec home studio with ATC speakers. Patchbay design and wiring including hardware
                setup</p>
              </div>
            </div>
            <div class="carousel-item">
              <%= cl_image_tag("Screenshot_2022-03-13_at_14.24.59_y9efp1", class: "d-block w-100", alt: "Fifth slide") %>
              <div class="carousel-caption d-none d-md-block">
                <h5>Private Home Cinema:</h5>
                <p>Dolby Atmos with 7.2.2 Monitor Audio System powered by Denon AVC-X3700H with Optoma
                UHD38 4K 240Hz projector</p>
              </div>
            </div>
            <div class="carousel-item">
              <%= cl_image_tag("Screenshot_2022-03-13_at_14.25.17_pmgum4", class: "d-block w-100", alt: "Sixth slide") %>
              <div class="carousel-caption d-none d-md-block">
                <h5>Private London Studio</h5>
                <p>Control Room and Live Room tie line reconfiguration</p>
              </div>
            </div>

            <div class="carousel-item">
              <%= cl_image_tag("Screenshot_2022-03-13_at_14.36.56_gddgtm", class: "d-block w-100", alt: "Seventh slide") %>
              <div class="carousel-caption d-none d-md-block">
                <h5>ICMP KB</h5>
                <p>Soundcraft 24ch desk with 1/4” Jack patchbay. Patchbay and hardware design and wiring</p>
              </div>
            </div>
            <div class="carousel-item">
              <%= cl_image_tag("image2_ucgbbc", class: "d-block w-100", alt: "Eighth slide") %>
              <div class="carousel-caption d-none d-md-block">
                <h5>Ghana Studio</h5>
                <p>Patchbay design and wiring</p>
              </div>
            </div>
            <div class="carousel-item">
              <%= cl_image_tag("Screenshot_2022-03-13_at_14.34.07_ue4ja4", class: "d-block w-100", alt: "Ninth slide") %>
              <div class="carousel-caption d-none d-md-block">
                <h5>SSL</h5>
                <p>SSL Origin 32ch Desk, Adam A3X speakers. Avid HDX Hardware, patchbay design and wiring.
                Dante capable</p>
              </div>
            </div>

            <div class="carousel-item">
              <%= cl_image_tag("Screenshot_2022-03-13_at_14.34.16_xj4e2r", class: "d-block w-100", alt: "tenth slide") %>
              <div class="carousel-caption d-none d-md-block">
                <h5>Mix Master</h5>
                <p>Audient ASP8024 HE 12ch Desk, PMC IB1-S mastering speakers. Avid HDX Hardware,
                patchbay design and wiring including tie lines to live room. Dante capable.</p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
    </div>
  </div>

    <%# <div class="separator-mid">
    </div> %>

  <div class="body">
    <div id="to-references"></div>
    <div class="references">
      <div class="title-separator">
        <div class="blue-line"></div>
        <h3>References</h3>
        <div class="blue-line"></div>
      </div>

      <div class="container">
        <div id="carouselContent" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active text-center p-4 border border-light rounded">
              <div class="ref-text">
                <p>Sean came to patch in the tie lines
                  for our new studio. He was very
                  quick and efficient, and did a
                  clean job fitting them in. Sean is
                  personable and professional, and
                  we'd be happy to recommend
                  him!
                </p>
                <h4>_____</h4>
                <h4> H. Warwick - GM, Parallels</h4>
              </div>
            </div>

            <div class="carousel-item text-center p-4 border border-light rounded">
              <div class="ref-text">

                <p>Our Go to Guy!
                  Sean is our go to guy for SW6 studios in all of our studio locations from London to Ghana.
                  His Audio solutions just work! and his knowledge, advice and hands on approach have been an integral part of building our Studio's all over the world.
                </p>
                <h4>_____</h4>
                <h4> Ray Michael - <%= link_to "SW6 Studios", "https://www.sw6studios.com/", :target => "_blank" %> founder and Director</h4>
              </div>
            </div>

            <div class="carousel-item text-center p-4 border border-light rounded">
              <div class="ref-text">
                <p>
                  One of the only studio installation engineers that seems to know a lot about everything wiring consoles midi software protocols interfaces keyboards monitoring the Mac et cetera
                  This talent is extremely hard to find !
                  <br>
                  If you hire this extremely efficient engineer you will not fail to be extremely pleased and satisfied.
                  His work is very neat and he will not finish until everything is perfect.
                  He also has a great memory and will not forget things.
                  <br>
                  I have adopted him as my brother!
                </p>
                <h4>_____</h4>
                <h4> Annonymous private studio owner</h4>
              </div>
            </div>

            <div class="carousel-item text-center p-4 border border-light rounded">
              <div class="ref-text">
                <p>
                  Having just moved into a new studio I found that the tie-lines had been cut by the previous occupant.
                  Sean did a fantastic job repairing them, wiring all four live rooms into a single patch panel and re-using an existing stage box from my previous studio.
                  He was extremely fast, efficient and a pleasure to have around.  Highly recommended!
                </p>
                <h4>_____</h4>
                <h4> David O'Brien</h4>
              </div>
            </div>

          </div>
          <a class="carousel-control-prev" href="#carouselContent" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselContent" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>

    <div id="to-rates"></div>
    <div class="rates">
      <div class="title-separator">
        <div class="blue-line"></div>
        <h3>Rates</h3>
        <div class="blue-line"></div>
      </div>
      <div class="rates-body">
        <div class="rates-text">
          <div class="rates-text-inner">
            <div class="rates-text-columns">
              <p>Hourly rate</p>
              <p>Day rate (over 8hrs, max 10hrs)</p>
              <p>Travel (by car outside M25 zone)</p>
            </div>
            <div class="rates-text-columns">
              <p>£60/hr</p>
              <p>£450</p>
              <p>£0.45/mile</p>
            </div>
          </div>

          <h5 class="tandc"><%= link_to "T&C's", "https://www.termsfeed.com/live/faa62d27-5f29-4b65-9c47-1fc1fba685b9", :target => "_blank" %></h5>

        </div>
        <%= image_tag "rates-img.png", class: "rates-image" %>
      </div>
    </div>

    <div id="to-contact"></div>
    <div class="contact">
      <div class="title-separator">
        <div class="blue-line"></div>
        <h3>Contact</h3>
        <div class="blue-line"></div>
      </div>
      <div class="contact-content">
        <div data-tf-widget="lStACtA0" data-tf-iframe-props="title=Sean's website" data-tf-medium="snippet" style="width:100%;height:400px;"></div><script src="//embed.typeform.com/next/embed.js"></script>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="footer-content">
      <div class="footer-left">
        <%= image_tag "Logo-CSW-grey.png", class: "footer-image" %>
        <p>© 2022 Copson Studio Wiring</p>
      </div>
      <div class="footer-right">
        <div class="footer-sm-list">
          <ul class="socialm">
            <li>
              <a href="https://www.instagram.com/copson_studio_wiring/" target="_blank">
                <i class="fab fa-instagram"></i></a>
            </li>
            <li>
              <a href="https://www.facebook.com/copsonstudiowiring" target="_blank">
                <i class="fab fa-facebook-square"></i></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/sean-c-a49906208/" target="_blank">
                <i class="fab fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
        <div class="tandc">
          <%= link_to "Privacy", "https://www.termsfeed.com/live/352389ce-1da2-41d0-819a-5e4c9e78cd2e", :target => "_blank" %>
          <%= link_to "Terms and Conditions", "https://www.termsfeed.com/live/faa62d27-5f29-4b65-9c47-1fc1fba685b9", :target => "_blank" %>
        </div>
      </div>
    </div>
  </div>
</div>
